<div class="container">
    <h1> Gestor de inventario PP</h1>

    <h3> El Gestor de Inventarios PP es una herramienta integral diseñada para optimizar 
        y simplificar la gestión de tu inventario. Con funcionalidades clave que permiten 
        hacer reportes detallados, realizar búsquedas rápidas de productos, y gestionar altas, 
        bajas y cambios de manera eficiente, este software es ideal para mantener tu inventario 
        siempre al día y bien organizado. Ya sea que necesites revisar el estado actual de tus 
        existencias, actualizar información de productos o generar informes completos, el Gestor 
        de Inventarios PP te ofrece todas las herramientas necesarias en una interfaz fácil de usar.</h3>

        <ul class="horizontal-list">
            <li>
                <i class="fa-solid fa-file"></i> 
            </li>
            <li>
                <i class="fa-solid fa-table"></i>   
            </li>
            <li>
                <i class="fa-solid fa-database"></i> 
            </li>
        </ul>
        
</div>
