.bg-dark{
    background-color: #394867 !important;
}

a{
    color: white !important;
    font-size: 30px;
}

.btn {
    width: 100%;
}

img{
    width: 100px;
}

i{
    margin-left: 30px;
    margin-right: 30px;
}